<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python27\python.exe|D:\web\birthdaysong\manage.py fcgi --pythonpath D:\web\birthdaysong --settings birthdaysong.settings" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
