{% extends "template_base.html" %}
{% block content %}
<div class="container col-center">
<div class="row">
    <div class="centering">
      <center>
        <div class="lead icon-badge"><span class="icon-center glyphicon glyphicon-music"></span></div>
        <p class="lead">내 생일에는 어떤 노래가 유행했을까?</p>
        <button type="button" class="btn btn-primary" onclick="javascript:fbLogin()">페이스북에 등록된 생일로 지금 확인해보세요</button>
        <br>
        <br>
        <div class="fb-like" data-href="https://birthdaysong.plusquare.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	<br><br><a href="/privacy">개인정보 취급방침</a>
      </center>
      </div>
  </div>
</div>
{% endblock %}